body {
	background: black;
	font-family: "Lobster Two", sans-serif;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
	margin: 5px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: auto;
	height: 50px;
	padding: 0px;
	margin: 0px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: auto;
	margin: 5px;
}
.body-right {
	align-items: center;
}
input {
	border: none;
	border-bottom: 1px solid grey;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgb(181, 177, 177);
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
	font-family: "Lobster Two", sans-serif;
}
label {
	color: rgb(149, 146, 146);
	text-align: center;
}
